

.table-area {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0px auto;

  .keyword_button {
    display: flex;
    justify-content: space-between;
  }

  button {
    align-self: flex-end;
    padding: 15px;
    border-radius: 4px;
    border: none;
    background: #59A75D;;
    color: #fff;
    cursor: pointer;
    margin-bottom: 3em;
  }

  .keywords-table {
    width: 100%;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    border-radius: 4px;
    font-size: 15px;

    thead {
      font-size: 16px;
      font-weight: 700;

      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.5);

        td {
          padding: 10px 60px 10px 0;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        td {
          padding: 10px 0;
        }
      }
    }
  }
}




